

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container-full {
  margin: 0 auto;
  width: 100%;

}


.parallax-section-1 {
height: 550px;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../img/bg4.png');
    position:relative;
}

.parallax-section-2 {
height: 700px;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../img/bg2.png');
}

.parallax-section-3 {
height: 700px;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../img/bg3.png');
}

.headingy {
    bottom: 15px;
    color: white;
    font-size: 80px;
    left: 115px;
    position: absolute;
}

.jumbotron2{
    background-color: #E82C0C;
    color: inherit;
    margin-bottom: 30px;
    padding: 30px 15px;
}

/* Desktop Parallax Photo */
@media (min-width: 651px){
    .parallax-section-1 { background-image: url('../img/bg4.png'); }
}
/* Mobile Parallax Photo */
@media (max-width: 650px) {
    .parallax-section-1 { background-image: url('../img/bg4.png'); height: 300px; }
}








